{% extends 'admin_layout.html' %}
{% block content %}
    {% for item in payment%}
        <div class="row">
            <div class="container" style="margin-bottom: 30px">
                <div>
                   <a> {{ item.user.firstname }} {{ item.user.lastname }}</a><a style="position: relative; left: 70%">{{item.date_posted.strftime('%Y-%m-%d')}}</a>
                </div>
                <div class="card w-85" style="background-color: #E6E6E6">
                    <img class="card-img-top" src="/static/img/back3.jpg" style="height: 300px" alt="Card image cap">
                    <div class="card-body">
                        <a style="float: right" href="{{ url_for('input_payment', id = item.image_id) }}" class="btn btn-primary">See room details</a>

                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
{% endblock %}
