{% extends 'admin_layout.html' %}
{% block content %}
    {% for item in payment.items%}
        <div class="row">
            <div class="container">
                <div>
                   <a> {{ payment.user.firstname }} {{ payment.user.lastname }}</a><a style="position: relative; left: 80%">{{post.date_posted.strftime('%Y-%m-%d')}}</a>
                </div>
                <div class="card w-85" style="background-color: #E6E6E6">
                    <img class="card-img-top" src="/static/img/back3.jpg" style="height: 300px" alt="Card image cap">
                    <div class="card-body">
                        <form method = "POST" action = "" >
                           <div class="form-group">
                                {% if form.price.errors %}
                                    {{form.price(class="form-control form-control-lg is-invalid")}}
                                    <div class = "invalid-feedback">
                                        {% for error in form.price.errors %}
                                            <span> {{error}}</span>
                                        {%endfor%}
                                    </div>
                                {%else%}
                                    {{form.price(class="form-control form-control-lg")}}
                                {%endif%}
                            </div>
                        </form>
                        <div class = "form-group">
                            {{form.submit(class="btn btn-outline-info")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
{% endblock %}
